name: CI for game 2048
on:
  push:
    branches:
      - master
env:
  IMAGE_NAME: 2048
  REGISTRY: docker.io

jobs:
  build-and-push:
    name: Build and push docker images
    runs-on: ubuntu-latest
    steps:
      - name: checkout source code
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{env.REGISTRY}}
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - name: Build Docker image
        run: |
          docker image build \
            -t ${{secrets.DOCKER_USERNAME}}/${{env.IMAGE_NAME}}:${{github.sha}} \
            -t ${{secrets.DOCKER_USERNAME}}/${{env.IMAGE_NAME}}:latest .
      - name: Push docker image
        run: |
          docker push ${{secrets.DOCKER_USERNAME}}/${{env.IMAGE_NAME}}:${{github.sha}}
          docker push ${{secrets.DOCKER_USERNAME}}/${{env.IMAGE_NAME}}:latest
  deploy:
    name: Deploy to production vm
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{secrets.SERVER_HOST}}
          username: ${{secrets.SERVER_USER}}
          key: ${{secrets.SERVER_SSH_KEY}}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/2048:latest
            docker stop 2048 || true
            docker rm 2048 || true
            docker run -d \
              --name 2048 \
              -p 80:80 \
              --restart always \
              ${{ secrets.DOCKER_USERNAME }}/2048:latest
