name: CI/CD 2048 EKS

on:
    push:
        branches:
            - master
    workflow_dispatch:

env:
    IMAGE_NAME: 2048
    REGISTRY: docker.io
    CLUSTER_NAME: my-eks-2048
    AWS_REGION: ap-south-1

jobs:
    terraform:
        name: Provision Infrastructure
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  role-to-assume: arn:aws:iam::810044336424:role/GitHubActionsEKSRole
                  aws-region: ${{ env.AWS_REGION }}

            - name: Install Terraform
              uses: hashicorp/setup-terraform@v2
              with:
                  terraform_version: 1.6.0

            - name: Terraform Init
              working-directory: infra/terraform
              run: terraform init

            - name: Check if EKS exists
              id: check_eks
              run: |
                  if aws eks describe-cluster --name ${{ env.CLUSTER_NAME }} --region ${{ env.AWS_REGION }}; then
                    echo "cluster_exists=true" >> $GITHUB_OUTPUT
                  else
                    echo "cluster_exists=false" >> $GITHUB_OUTPUT
                  fi

            - name: Terraform Apply
              if: steps.check_eks.outputs.cluster_exists == 'false'
              working-directory: infra/terraform
              run: terraform apply -auto-approve

    build-and-push:
        name: Build & Push Docker
        runs-on: ubuntu-latest
        needs: terraform
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build & Push Docker
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: |
                      ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
                      ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest

    deploy:
        name: Deploy to EKS
        runs-on: ubuntu-latest
        needs: build-and-push
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  role-to-assume: arn:aws:iam::810044336424:role/GitHubActionsEKSRole
                  aws-region: ${{ env.AWS_REGION }}

            - name: Update kubeconfig
              run: aws eks update-kubeconfig --name ${{ env.CLUSTER_NAME }} --region ${{ env.AWS_REGION }}

            - name: Apply Kubernetes manifests
              run: kubectl apply -f k8s/

            - name: Update Deployment image
              run: |
                  kubectl set image deployment/game-2048 \
                    game-2048=${{ secrets.DOCKER_USERNAME }}/2048:${{ github.sha }} \
                    -n game-2048
                  kubectl rollout status deployment/game-2048 -n game-2048
